
<main>

    <!-- prettier-ignore -->
    <section>
        <img class="w-100" src="assets/imgs/blog-details/img-1.png" alt="infinia">
        <div class="container mt-10">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="d-flex gap-2">
                        <a href="#" class="bg-primary-soft rounded-pill px-3 fw-bold py-2 text-primary text-uppercase fs-7"><%=projectDetails.year%></a>
                        <a href="#" class="bg-primary-soft rounded-pill px-3 fw-bold py-2 text-primary text-uppercase fs-7">mARKETING</a>
                    </div>
                    <h5 class="ds-5 mt-3 mb-4"><%=projectDetails.title%></h5>
                    <p class="fs-5 text-900 mb-0"><%=projectDetails.description%></p>
                    <div class="d-flex align-items-center justify-content-between mt-7 py-3 border-top border-bottom">
                        <div class="d-flex align-items-center position-relative z-1">
                            <div class="icon-shape rounded-circle border border-2 border-white">
                                <img class="rounded-circle" src="assets/imgs/blog-4/avatar-1.png" alt="infinia">
                            </div>
                            <div class="ms-3">
                                <h6 class="fs-7 m-0">Evara Rose</h6>
                                <p class="mb-0 fs-8">17 May 2024</p>
                            </div>
                            <a href="#" class="position-absolute bottom-0 start-0 end-0 top-0 z-0"></a>
                        </div>
                        <div class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M12 19.25C16.0041 19.25 19.25 16.0041 19.25 12C19.25 7.99594 16.0041 4.75 12 4.75C7.99594 4.75 4.75 7.99594 4.75 12C4.75 16.0041 7.99594 19.25 12 19.25Z" stroke="#111827" stroke-width="1.5" />
                                <path d="M12 8V12L14 14" stroke="#111827" stroke-width="1.5" />
                            </svg>
                            <span class="ms-2 fs-7 text-900">15 mins to read</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 mx-auto my-7">
                    <img class="rounded-4" src="assets/imgs/blog-details/img-2.png" alt="infinia">
                </div>
                <div class="col-md-8 mx-auto">
                    <h5 class="mb-3">Artificial Intelligence and Machine Learning</h5>
                    <p class="fw-bold text-900">Impact: <span class="fw-medium text-600">AI and machine learning are revolutionizing digital marketing by providing deeper insights into consumer behavior, enabling personalized marketing strategies, and automating repetitive tasks. For businesses, this means more efficient targeting, improved customer experiences, and higher conversion rates.</span></p>
                    <p class="fw-bold text-900">Implementation: <span class="fw-medium text-600">Integrate AI tools like chatbots for customer service, use machine learning algorithms to analyze customer data, and employ AI-driven content creation tools to generate personalized marketing content.</span></p>
                    <h5 class="mt-5 mb-3">Voice Search Optimization</h5>
                    <p>With the rise of smart speakers and voice assistants like Amazon's Alexa, Google Assistant, and Apple's Siri, optimizing for voice search is becoming essential. Voice searches tend to be more conversational and longer than text searches, requiring a different approach to SEO.</p>
                    <p class="mb-0">Focus on natural language processing, use long-tail keywords, and ensure your website content answers common questions directly and concisely. Additionally, optimize your local SEO, as many voice searches are location-specific.</p>
                </div>
                <div class="col-md-10 mx-auto my-7">
                    <div class="d-flex flex-lg-row flex-column gap-4 mb-4">
                        <img class="rounded-4" src="assets/imgs/blog-details/img-3.png" alt="infinia">
                        <img class="rounded-4" src="assets/imgs/blog-details/img-4.png" alt="infinia">
                    </div>
                    <div class="d-flex flex-lg-row flex-column gap-4">
                        <img class="rounded-4" src="assets/imgs/blog-details/img-5.png" alt="infinia">
                        <img class="rounded-4" src="assets/imgs/blog-details/img-6.png" alt="infinia">
                    </div>
                </div>
                <div class="col-md-8 mx-auto">
                    <h5 class="mb-3">Influencer Marketing</h5>
                    <p>Impact: Influencer marketing leverages the reach and credibility of influencers to promote products and services. This trend is particularly effective for targeting niche markets and building trust with potential customers.</p>
                    <p>Implementation: Identify influencers who align with your brand values and have a genuine connection with your target audience. Collaborate with them on content creation and campaigns that highlight your products authentically.</p>
                    <h5 class="mt-5 mb-3">Personalization and Customer Experience</h5>
                    <div class="d-flex flex-column flex-lg-row">
                        <p class="pe-8 mb-0">Consumers increasingly expect personalized experiences when interacting with brands. Personalization can significantly enhance customer satisfaction and loyalty, leading to higher retention rates and increased sales. Use customer data to personalize email marketing, website content, and product recommendations. Implement customer relationship management (CRM) systems to manage and analyze customer interactions and data effectively.</p>
                        <p class="pe-8 mb-0 mt-lg-0 mt-3">Consumers increasingly expect personalized experiences when interacting with brands. Personalization can significantly enhance customer satisfaction and loyalty, leading to higher retention rates and increased sales. Use customer data to personalize email marketing, website content, and product recommendations. Implement customer relationship management (CRM) systems to manage and analyze customer interactions and data effectively.</p>
                    </div>
                    <div class="bg-primary-light position-relative m-lg-7 rounded-4 text-center">
                        <svg class="mt-7" xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52" fill="none">
                            <g clip-path="url(#clip0_617_33458)">
                                <path d="M0 29.7142H11.1428L3.71422 44.5712H14.8571L22.2857 29.7142V7.42847H0V29.7142Z" fill="white" />
                                <path d="M29.7109 7.42822V29.7139H40.8538L33.4252 44.571H44.568L51.9966 29.7139V7.42822H29.7109Z" fill="white" />
                            </g>
                            <defs>
                                <clipPath>
                                    <rect width="52" height="52" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <blockquote class="mt-6 px-lg-0 px-5">
                            Marketing is about values. It’s a <br class="d-none d-lg-inline-block">
                            complicated and noisy world, and we’re <br class="d-none d-lg-inline-block">
                            not going to get a chance to get people to <br class="d-none d-lg-inline-block">
                            remember much about us. No company is. <br class="d-none d-lg-inline-block">
                            So we have to be really clear about what we <br class="d-none d-lg-inline-block">
                            want them to know about us.
                        </blockquote>
                        <div class="d-inline-flex align-items-center mt-5 mb-8">
                            <img class="avatar-lg" src="assets/imgs/testimonial-1/avatar-3.png" alt="infinia">
                            <div class="d-flex flex-column">
                                <h6 class="ms-3 fs-6 mb-0 text-white">Sarah Thompson</h6>
                                <div class="flag ms-3">
                                    <img src="assets/imgs/testimonial-1/flag-3.png" alt="infinia">
                                    <span class="fs-8 text-white">Marketing Director</span>
                                </div>
                            </div>
                        </div>
                        <img class="position-absolute top-0 end-0 z-0" src="assets/imgs/blog-details/bg-line.png" alt="infinia">
                    </div>
                    <h5 class="mt-7 mb-3">Conclusion</h5>
                    <p>"Staying ahead of digital marketing trends is not just about keeping up with the latest technologies; it's about understanding your customers' evolving needs and finding innovative ways to meet them," says Jane Doe, Chief Marketing Officer at Infinia.</p>
                    <p>Adapting to these top digital marketing trends can significantly impact your business by enhancing customer engagement, improving conversion rates, and driving growth. Staying ahead of the curve requires continuous learning, experimentation, and a willingness to embrace new technologies and strategies. By doing so, your business can thrive in the dynamic digital landscape and achieve long-term success.</p>
                    <div class="d-flex align-items-center justify-content-between mt-5 py-3 border-top border-bottom">
                        <div class="d-flex align-items-center position-relative z-1">
                            <div class="icon-shape rounded-circle border border-2 border-white">
                                <img class="rounded-circle" src="assets/imgs/blog-4/avatar-1.png" alt="infinia">
                            </div>
                            <div class="ms-3">
                                <h6 class="fs-7 m-0">Evara Rose</h6>
                                <p class="mb-0 fs-8">17 May 2024</p>
                            </div>
                            <a href="#" class="position-absolute bottom-0 start-0 end-0 top-0 z-0"></a>
                        </div>
                        <div class="d-lg-flex align-items-center">
                            <p class="fw-bold text-500 mb-0 me-2">Social network:</p>
                            <div class="d-flex social-icons">
                                <a href="https://www.facebook.com/" class=" text-900 border border-end-0  border-opacity-10 icon-shape icon-md">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17" viewBox="0 0 10 17" fill="none">
                                        <path class="fill-dark" d="M8.84863 9.20312H6.5415V16.0938H3.46533V9.20312H0.942871V6.37305H3.46533V4.18896C3.46533 1.72803 4.94189 0.34375 7.1875 0.34375C8.26416 0.34375 9.40234 0.559082 9.40234 0.559082V2.98926H8.14111C6.91064 2.98926 6.5415 3.72754 6.5415 4.52734V6.37305H9.2793L8.84863 9.20312Z" fill="black"></path>
                                    </svg>
                                </a>
                                <a href="https://twitter.com/" class=" text-900 border border-end-0  border-opacity-10 icon-shape icon-md">
                                    <i class="bi bi-twitter-x"></i>
                                </a>
                                <a href="https://www.linkedin.com/" class=" text-900 border  border-opacity-10 icon-shape icon-md">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                                <a href="https://www.behance.net/" class=" text-900 border border-start-0  border-opacity-10 icon-shape icon-md">
                                    <i class="bi bi-behance"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <h3 class="mt-7 mb-4 pb-4 border-bottom">Leave a comment</h3>
                    <div class="row mt-5 wow img-custom-anim-left">
                        <div class="col-md-6 col-lg-4">
                            <div class="input-group d-flex align-items-center">
                                <div class="icon-input border border-end-0 rounded-2 rounded-end-0 ps-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path class="stroke-dark" d="M12 11.25C13.7949 11.25 15.25 9.79493 15.25 8C15.25 6.20507 13.7949 4.75 12 4.75C10.2051 4.75 8.75 6.20507 8.75 8C8.75 9.79493 10.2051 11.25 12 11.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path class="stroke-dark" d="M6.84723 19.25H17.1522C18.2941 19.25 19.1737 18.2681 18.6405 17.2584C17.856 15.7731 16.0677 14 11.9997 14C7.93174 14 6.1434 15.7731 5.35897 17.2584C4.8257 18.2681 5.70531 19.25 6.84723 19.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                                <input type="text" class="form-control ms-0 border rounded-2 rounded-start-0 border-start-0" name="name" placeholder="Your name *" aria-label="username">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mt-3 mt-md-0">
                            <div class="input-group d-flex align-items-center mt-4 mt-md-0">
                                <div class="icon-input border border-end-0 rounded-2 rounded-end-0 ps-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path class="stroke-dark" d="M8.89286 4.75H6.06818C5.34017 4.75 4.75 5.34017 4.75 6.06818C4.75 13.3483 10.6517 19.25 17.9318 19.25C18.6598 19.25 19.25 18.6598 19.25 17.9318V15.1071L16.1429 13.0357L14.5317 14.6468C14.2519 14.9267 13.8337 15.0137 13.4821 14.8321C12.8858 14.524 11.9181 13.9452 10.9643 13.0357C9.98768 12.1045 9.41548 11.1011 9.12829 10.494C8.96734 10.1537 9.06052 9.76091 9.32669 9.49474L10.9643 7.85714L8.89286 4.75Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                                <input type="text" class="form-control ms-0 border rounded-2 rounded-start-0 border-start-0" name="name" placeholder="info@" aria-label="email">
                            </div>
                        </div>
                        <div class="col-lg-4 mt-3 mt-lg-0">
                            <div class="input-group d-flex align-items-center mt-4 mt-md-0">
                                <div class="icon-input border border-end-0 rounded-2 rounded-end-0 ps-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path class="stroke-dark" d="M6.75 19.25H17.25C18.3546 19.25 19.25 18.3546 19.25 17.25V9.75001L12 4.75L4.75 9.75001V17.25C4.75 18.3546 5.64544 19.25 6.75 19.25Z" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path class="stroke-dark" d="M9.75 15.7495C9.75 14.6449 10.6455 13.7495 11.75 13.7495H12.25C13.3546 13.7495 14.25 14.6449 14.25 15.7495V19.2495H9.75V15.7495Z" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                                <input type="text" class="form-control ms-0 border rounded-2 rounded-start-0 border-start-0" name="name" placeholder="Website" aria-label="website">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group d-flex mt-4">
                                <div class="icon-input pt-2 ps-3 align-items-start border border-end-0 rounded-1 rounded-end-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                        <path class="stroke-dark" d="M5.5 2.14844H3C1.89543 2.14844 1 3.04387 1 4.14844V14.6484C1 15.753 1.89543 16.6484 3 16.6484H13.5C14.6046 16.6484 15.5 15.753 15.5 14.6484V12.1484" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path class="fill-dark" d="M17.3285 1.20344L16.4448 0.319749C16.0185 -0.106583 15.3248 -0.106583 14.8984 0.319749L7.82915 7.38907C7.76373 7.45449 7.71914 7.53782 7.70096 7.62854L7.2591 9.83772C7.22839 9.99137 7.27647 10.1502 7.38729 10.261C7.47605 10.3498 7.59561 10.3983 7.71864 10.3983C7.74923 10.3983 7.77997 10.3953 7.81053 10.3892L10.0197 9.94732C10.1104 9.92917 10.1938 9.88455 10.2592 9.81913L17.3285 2.74984C17.3285 2.74984 17.3286 2.74984 17.3286 2.74981C17.7549 2.32351 17.7549 1.6298 17.3285 1.20344ZM9.69678 9.05607L8.31606 9.33225L8.59224 7.95153L14.3461 2.19754L15.4507 3.30214L9.69678 9.05607ZM16.6658 2.0871L16.1135 2.6394L15.0089 1.53479L15.5612 0.982524C15.6221 0.921601 15.7212 0.92157 15.7821 0.982493L16.6658 1.86618C16.7267 1.92707 16.7267 2.0262 16.6658 2.0871Z" fill="black" />
                                    </svg>
                                </div>
                                <textarea class="form-control border border-start-0 ms-0 rounded-start-0 rounded-1 pb-10" name="name" placeholder="Describe Your Project in Short" aria-label="With textarea"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary mt-3">
                                Send Message
                                <svg class="ms-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path class="stroke-white" d="M21.1059 12.2562H0.5V11.7443H21.1059H22.313L21.4594 10.8907L17.0558 6.48705L17.4177 6.12508L23.2929 12.0002L17.4177 17.8754L17.0558 17.5134L21.4594 13.1098L22.313 12.2562H21.1059Z" stroke="white" />
                                </svg>
                            </button>
                        </div>
                    </div>

                    <h3 class="mt-8 pb-4 wow img-custom-anim-left">Comments</h3>
                    <div class="d-flex align-items-start border-top pt-6 wow img-custom-anim-top">
                        <img class="rounded-4 me-4" src="assets/imgs/blog-details/avatar-2.png" alt="infinia">
                        <div>
                            <div class="d-flex align-items-center">
                                <h6 class="mb-0 fs-6 text-900 fw-">Tromas H. Hendson</h6>
                                <span class="mb-0 ms-2 fs-6 text-500">June 9, 2024</span>
                            </div>
                            <p class="py-3 tex-500">
                                Variations in the floor plan, window location, and interstitial outdoor spaces enhance this material homogeneity. The goal was to produce a unified
                                whole using a modern design language, where attention to materiality and detail is evident. All flats have two sides and are in close proximity to
                                the outside world.
                            </p>
                            <a href="#" class="d-flex align-items-center d-inline-flex mb-8">
                                <span class="icon-shape icon-sm bg-white border rounded-3 me-2 p-3">
                                    <i class="bi bi-reply text-900"></i>
                                </span>
                                <span class="text-900 fw-medium fs-7"> Reply </span>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-start border-top pt-6 ms-10 wow img-custom-anim-top">
                        <img class="rounded-4 me-4" src="assets/imgs/blog-details/avatar-3.png" alt="infinia">
                        <div>
                            <div class="d-flex align-items-center">
                                <h6 class="mb-0 fs-6 text-900 fw-">Rosalina D.</h6>
                                <span class="mb-0 ms-2 fs-6 text-500">June 10, 2024</span>
                            </div>
                            <p class="py-3 tex-500">
                                Variations in the floor plan, window location, and interstitial outdoor spaces enhance this material homogeneity. The goal was to produce a unified
                                whole using a modern design language, where attention to materiality and detail is evident. All flats have two sides and are in close proximity to
                                the outside world.
                            </p>
                            <a href="#" class="d-flex align-items-center d-inline-flex mb-8">
                                <span class="icon-shape icon-sm bg-white border rounded-3 me-2 p-3">
                                    <i class="bi bi-reply text-900"></i>
                                </span>
                                <span class="text-900 fw-medium fs-7"> Reply </span>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-start border-top pt-6 wow img-custom-anim-top">
                        <img class="rounded-4 me-4" src="assets/imgs/blog-details/avatar-4.png" alt="infinia">
                        <div>
                            <div class="d-flex align-items-center">
                                <h6 class="mb-0 fs-6 text-900 fw-">Miranda H. Halim</h6>
                                <span class="mb-0 ms-2 fs-6 text-500">June 9, 2024</span>
                            </div>
                            <p class="py-3 tex-500">
                                Variations in the floor plan, window location, and interstitial outdoor spaces enhance this material homogeneity. The goal was to produce a unified
                                whole using a modern design language, where attention to materiality and detail is evident. All flats have two sides and are in close proximity to
                                the outside world.
                            </p>
                            <a href="#" class="d-flex align-items-center d-inline-flex mb-8">
                                <span class="icon-shape icon-sm bg-white border rounded-3 me-2 p-3">
                                    <i class="bi bi-reply text-900"></i>
                                </span>
                                <span class="text-900 fw-medium fs-7"> Reply </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog 8-->
    <section class="section-blog-8 section-padding position-relative fix">
        <div class="container position-relative z-1">
            <div class="row text-center">
                <h5 class="ds-5">Related Posts</h5>
            </div>
            <div class="row">
                <!-- prettier-ignore -->
                <div class="col-lg-4 text-start">
                    <div class="card border-0 rounded-3 mt-8 position-relative d-inline-flex">
                        <img class="rounded-top-3" src="assets/imgs/blog-1/card-img-1.png" alt="infinia">
                        <div class="card-body bg-white p-0">
                            <a href="#" class="bg-primary-soft position-relative z-1 d-inline-flex rounded-pill px-3 py-2 mt-3">
                                <span class="tag-spacing fs-7 fw-bold text-linear-2 text-uppercase">Business</span>
                            </a>
                            <h6 class="my-3">The Future of SaaS: Emerging Trends to Watch</h6>
                            <p>As the SaaS industry continues to evolve, new trends are shaping the future of software delivery and consumption...</p>
                        </div>
                        <a href="#" class="position-absolute bottom-0 start-0 end-0 top-0 z-0"></a>
                    </div>
                </div>
                <div class="col-lg-4 text-start">
                    <div class="card border-0 rounded-3 mt-8 position-relative d-inline-flex">
                        <img class="rounded-top-3" src="assets/imgs/blog-1/card-img-2.png" alt="infinia">
                        <div class="card-body bg-white p-0">
                            <a href="#" class="bg-primary-soft position-relative z-1 d-inline-flex rounded-pill px-3 py-2 mt-3">
                                <span class="tag-spacing fs-7 fw-bold text-linear-2 text-uppercase">Technology</span>
                            </a>
                            <h6 class="my-3">Choosing the Right SaaS Solution for Your Business</h6>
                            <p>Selecting the right SaaS solution can be a daunting task with so many options available. This guide breaks down the key...</p>
                        </div>
                        <a href="#" class="position-absolute bottom-0 start-0 end-0 top-0 z-0"></a>
                    </div>
                </div>
                <div class="col-lg-4 text-start">
                    <div class="card border-0 rounded-3 mt-8 position-relative d-inline-flex">
                        <img class="rounded-top-3" src="assets/imgs/blog-1/card-img-3.png" alt="infinia">
                        <div class="card-body bg-white p-0">
                            <a href="#" class="bg-primary-soft position-relative z-1 d-inline-flex rounded-pill px-3 py-2 mt-3">
                                <span class="tag-spacing fs-7 fw-bold text-linear-2 text-uppercase">security</span>
                            </a>
                            <h6 class="my-3">The Importance of Data Security in Your SaaS Projects</h6>
                            <p>Data security is a top priority for businesses adopting SaaS solutions. With increasing cyber threats, it's essential to understand...</p>
                        </div>
                        <a href="#" class="position-absolute bottom-0 start-0 end-0 top-0 z-0"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-absolute top-0 start-50 translate-middle-x z-0">
            <img src="assets/imgs/team-1/bg-line.png" alt="infinia">
        </div>
        <div class="rotate-center ellipse-rotate-success position-absolute z-0"></div>
        <div class="rotate-center-rev ellipse-rotate-primary position-absolute z-0"></div>
    </section>
</main>
<!-- prettier-ignore -->
<!-- Footer 5 -->
<footer>
    <div class=" position-relative d-none d-md-flex">
        <div class="col-6 bg-primary py-md-6"></div>
        <div class="col-6 bg-primary-dark py-md-6"></div>
        <div class="container position-absolute top-50 start-50 translate-middle">
            <div class="row">
                <div class="col-6 d-lg-flex gap-5">
                    <a href="#" class="d-flex mb-lg-0 mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M4.75 6.75L9.25 4.75V17.25L4.75 19.25V6.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M14.75 6.75L19.25 4.75V17.25L14.75 19.25V6.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M14.75 6.75L9.25 4.75V17.25L14.75 19.25V6.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p class="text-white mb-0 ms-2">0811 Erdman Prairie, Joaville CA</p>
                    </a>
                    <a href="#" class="d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M8.89286 4.75H6.06818C5.34017 4.75 4.75 5.34017 4.75 6.06818C4.75 13.3483 10.6517 19.25 17.9318 19.25C18.6598 19.25 19.25 18.6598 19.25 17.9318V15.1071L16.1429 13.0357L14.5317 14.6468C14.2519 14.9267 13.8337 15.0137 13.4821 14.8321C12.8858 14.524 11.9181 13.9452 10.9643 13.0357C9.98768 12.1045 9.41548 11.1011 9.12829 10.494C8.96734 10.1537 9.06052 9.76091 9.32669 9.49474L10.9643 7.85714L8.89286 4.75Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p class="text-white mb-0 ms-2">+01 (24) 568 900</p>
                    </a>
                </div>
                <div class="col-6">
                    <div class="d-flex ms-md-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M13 16H12V12H11M12 8H12.01M21 12C21 13.1819 20.7672 14.3522 20.3149 15.4442C19.8626 16.5361 19.1997 17.5282 18.364 18.364C17.5282 19.1997 16.5361 19.8626 15.4442 20.3149C14.3522 20.7672 13.1819 21 12 21C10.8181 21 9.64778 20.7672 8.55585 20.3149C7.46392 19.8626 6.47177 19.1997 5.63604 18.364C4.80031 17.5282 4.13738 16.5361 3.68508 15.4442C3.23279 14.3522 3 13.1819 3 12C3 9.61305 3.94821 7.32387 5.63604 5.63604C7.32387 3.94821 9.61305 3 12 3C14.3869 3 16.6761 3.94821 18.364 5.63604C20.0518 7.32387 21 9.61305 21 12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <p class="text-white mb-0 ms-2">Our website uses cookies to improve your experience.</p>
                        <a href="#" class="text-white ms-2 link-hover-primary-light"> Learn more </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-footer">
        <div class="container-fluid bg-6">
            <div class="container position-relative z-2">
                <div class="row py-90">
                    <div class="col-lg-4 pe-10">
                        <a href="index.html"><img src="assets/imgs/logo/logo-white.svg" alt="infinia"></a>
                        <p class="text-white fw-medium mt-3 mb-6 opacity-50">You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you to deduct as much.</p>
                        <div class="d-flex social-icons">
                            <a href="https://www.facebook.com/" class=" text-white border border-end-0 border-light border-opacity-10 icon-shape icon-md">
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17" viewBox="0 0 10 17" fill="none">
                                    <path d="M8.84863 9.20312H6.5415V16.0938H3.46533V9.20312H0.942871V6.37305H3.46533V4.18896C3.46533 1.72803 4.94189 0.34375 7.1875 0.34375C8.26416 0.34375 9.40234 0.559082 9.40234 0.559082V2.98926H8.14111C6.91064 2.98926 6.5415 3.72754 6.5415 4.52734V6.37305H9.2793L8.84863 9.20312Z" fill="white" />
                                </svg>
                            </a>
                            <a href="https://twitter.com/" class=" text-white border border-end-0 border-light border-opacity-10 icon-shape icon-md">
                                <i class="bi bi-twitter-x"></i>
                            </a>
                            <a href="https://www.linkedin.com/" class=" text-white border border-light border-opacity-10 icon-shape icon-md">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a href="https://www.behance.net/" class=" text-white border border-start-0 border-light border-opacity-10 icon-shape icon-md">
                                <i class="bi bi-behance"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-6">
                                <h3 class="text-white opacity-50 fs-6 fw-black text-uppercase pb-3 pt-5 pt-lg-0">Services</h3>
                                <div class="d-flex flex-column align-items-start">
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Project software</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Resource software</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Workflow</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Gantt chart makers</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Project dashboards</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Task software</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <h3 class="text-white opacity-50 fs-6 fw-black text-uppercase pb-3 pt-5 pt-lg-0">Resource</h3>
                                <div class="d-flex flex-column align-items-start">
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Knowledge Base</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Documents</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">System Status</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Security</a>
                                </div>
                            </div>
                            <div class="col-lg-6 pt-5 pt-lg-0">
                                <p class="text-white fw-black opacity-50 text-uppercase">App & Payment</p>
                                <p class="text-white fw-medium mt-3 mb-4 opacity-50">Download our Apps and get
                                    extra 15% discount on your first order…!</p>
                                <div class="d-flex gap-2">
                                    <a href="#">
                                        <img class="mb-2" src="assets/imgs/footer-4/app-payment-1.png" alt="App Store">
                                    </a>
                                    <a href="#">
                                        <img class="mb-2" src="assets/imgs/footer-4/app-payment-2.png" alt="Google Play">
                                    </a>
                                </div>
                                <div class="d-flex gap-2">
                                    <a href="#">
                                        <img class="mb-2" src="assets/imgs/footer-4/app-payment-3.png" alt="Microsoft">
                                    </a>
                                    <a href="#">
                                        <img class="mb-2" src="assets/imgs/footer-4/app-payment-4.png" alt="Amazon">
                                    </a>
                                </div>
                                <div class="col-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center py-4 border-top border-white border-opacity-10">
                    <span class="text-white opacity-50">Copyright © 2024 Infinia. All Rights Reserved</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Scroll top -->
<div class="btn-scroll-top">
    <svg class="progress-square svg-content" width="100%" height="100%" viewBox="0 0 40 40">
        <path d="M8 1H32C35.866 1 39 4.13401 39 8V32C39 35.866 35.866 39 32 39H8C4.13401 39 1 35.866 1 32V8C1 4.13401 4.13401 1 8 1Z" />
    </svg>
</div>
<!-- Libs JS -->
<script src="assets/js/vendors/jquery-3.7.1.min.js"></script>
<script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="assets/js/vendors/swiper-bundle.min.js"></script>
<script src="assets/js/vendors/aos.js"></script>
<script src="assets/js/vendors/wow.min.js"></script>
<script src="assets/js/vendors/headhesive.min.js"></script>
<script src="assets/js/vendors/smart-stick-nav.js"></script>
<script src="assets/js/vendors/jquery.magnific-popup.min.js"></script>
<script src="assets/js/vendors/gsap.min.js"></script>
<script src="assets/js/vendors/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/vendors/isotope.pkgd.min.js"></script>
<script src="assets/js/vendors/ScrollToPlugin.min.js"></script>
<script src="assets/js/vendors/ScrollTrigger.min.js"></script>
<script src="assets/js/vendors/jquery.carouselTicker.min.js"></script>
<script src="assets/js/vendors/jquery.odometer.min.js"></script>
<script src="assets/js/vendors/jquery.appear.js"></script>
<script src="assets/js/vendors/gsap-custom.js"></script>
<script src="assets/js/vendors/bouncing-blob.js"></script>
<!-- Theme JS -->

<script src="assets/js/main.js"></script>
<!-- Other scripts -->
</body>


<!-- Mirrored from infinia-bootstrap-demo.vercel.app/page-blog-details by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 Dec 2024 07:29:00 GMT -->
</html>