
<%- include('partials/header1'), {pathPart} %>
<br><br>
<style>
      @media (max-width: 480px) {              
            
                .section-heading{
        /* margin-bottom: 3em; */
        margin-top: 60px;
    }}

         </style>
         <style>
  .media.text-center img:hover {
      animation: shake 0.5s ease-in-out;
  }

  @keyframes shake {
      0%, 100% { transform: translateX(0); }
      20% { transform: translateX(-5px); }
      40% { transform: translateX(5px); }
      60% { transform: translateX(-3px); }
      80% { transform: translateX(3px); }
  }
</style>
         <!-- Clouds SVG Divider -->
         <div class="hidden-xs container-fluid cloud-divider">
            <svg id="deco-clouds1" class="head" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
               <path d="M-5 100 Q 0 20 5 100 Z
                  M0 100 Q 5 0 10 100
                  M5 100 Q 10 30 15 100
                  M10 100 Q 15 10 20 100
                  M15 100 Q 20 30 25 100
                  M20 100 Q 25 -10 30 100
                  M25 100 Q 30 10 35 100
                  M30 100 Q 35 30 40 100
                  M35 100 Q 40 10 45 100
                  M40 100 Q 45 50 50 100
                  M45 100 Q 50 20 55 100
                  M50 100 Q 55 40 60 100
                  M55 100 Q 60 60 65 100
                  M60 100 Q 65 50 70 100
                  M65 100 Q 70 20 75 100
                  M70 100 Q 75 45 80 100
                  M75 100 Q 80 30 85 100
                  M80 100 Q 85 20 90 100
                  M85 100 Q 90 50 95 100
                  M90 100 Q 95 25 100 100
                  M95 100 Q 100 15 105 100 Z">
               </path>
            </svg>
         </div>
         <!-- / section ends-->
 
         <!-- Section About -->
         <section id="about" style="margin-bottom: -70px;">
            <div class="container">
               <div class="col-lg-8 col-lg-offset-2">
                  <!-- Section heading -->
                  <div class="section-heading">
                     <h2 style="font-size: 41px;">About us</h2>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12 col-lg-5">
                     <!-- Carousel -->
                     <img class="center-block img-responsive img-curved" src="/assets/about/about11.jpg" alt="">
                     
                  </div>
                  <!-- text -->
                  <div class="col-lg-7 col-sm-12">
                     <h4 style="margin-top: 18px;">SecondMom is extension of your home and committed to care your child as you care. </h4>
                     <p style="text-align:justify;">We believe that childcare is a very important extension of you and your child's family. We will encourage your child to develop at his/her own level.</p>
                    
                     <p style="text-align:justify;">We are having experience of 10 years in child care industry, Under the stewardship of Mrs. Sarika Gupta Founder of SecondMom Child Care Pvt. Ltd., having enriched 15 years’ experience in child education and development. Towards this she has endeavoured to have a team of qualified and trained staff to care for your child.</p>
                     <p style="text-align:justify;">
                     Acutely conscious of the complex and complicated world, the children will face as citizen in their future, SecondMon assure you the Best can, to nurture courage and a positive outlook in life. We have a panel of experts to advice and give us their inputs for betterment of our children.</p>
                    
                     <b>The Best Care for your Baby</b>
                     <p>Safety has always been and continues to be first priority, our expert Paediatric and other doctors’ panel as below: -</p>
                  </div>
                  <!-- /col-lg-8 -->
               </div>

               
               <!-- /row -->
               <div class="row features">
                  <!-- First Collumn -->
                  <div class="col-lg-12 col-sm-12">
                     <!-- item1 -->
                     <div class="col-md-3 media text-center">
                     <img src="/assets/about/about12.png" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading">Medical professionals</h5>
                         
                        </div>
                     </div>
                     <!-- item2 -->
                     <div class="col-md-3 media text-center">
                     <img src="/assets/about/about13.png" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading">Psychologist </h5>
                          
                        </div>
                     </div>
                     <!-- item3 -->
                     <div class="col-md-3 media text-center">
                     <img src="/assets/about/about14.png" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading">child care professionals </h5>
                         
                        </div>
                     </div>
                     <div class="col-md-3 media text-center">
                     <img src="/assets/about/about16.png" style="height: 128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading">Sociologist </h5>
                           
                        </div>
                     </div>
                  </div>
                  <!-- Second Collumn -->
                  <div class="col-lg-12 col-sm-12">
                     <!-- item4 -->
                     <!-- <div class="col-md-3 media text-center">
                        <i class="flaticon-person-1"></i>
                        <div class="media-body">
                           <h5 class="media-heading">Sociologist </h5>
                           
                        </div>
                     </div> -->
                     <!-- item5 -->
                     <!-- <div class="col-md-4 media text-center">
                        <i class="flaticon-school"></i>
                        <div class="media-body">
                           <h5 class="media-heading">Safety First</h5>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                        </div>
                     </div> -->
                     <!-- item6 -->
                     <!-- <div class="col-md-4 media text-center">
                        <i class="flaticon-music"></i>
                        <div class="media-body">
                           <h5 class="media-heading">Activities</h5>
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.</p>
                        </div>
                     </div> -->
                  </div>
                 
                 
               </div>
               <div class="col-lg-8 col-lg-offset-2">
                  <!-- Section heading -->
                  <div class="section-heading">
                     <h2>Meet Our Directors</h2>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-6">
                     <!-- member 1-->
                     <div class="team-item gupta1">
                        <img src="/assets/images/founder1.jpg" style="height:309px" alt=""/>
                        <div class="team-caption">
                           <h5 class="text-light">Mr. Manoj Gupta</h5>
                           <!-- <p>Founder</p> -->
                        </div>
                     </div>
                     <!-- /team-item-->
                  </div>
                  <!-- col-lg-12-->
                  <div class="col-lg-6">
                     <!-- member 2-->
                     <div class="team-item gupta2">
                        <img src="/assets/images/founder2.jpg" style="height:309px" alt=""/>
                        <div class="team-caption">
                           <h5 class="text-light">Mrs. Sarika Gupta</h5>
                           
                        </div>
                     </div>
                     <!-- /team-item-->
                  </div>
                
               </div>
            </div>
            <!--/container-->	  
         </section>


         <section id="about">
            <div class="container">
               <div class="col-lg-8 col-lg-offset-2">
                  <!-- Section heading -->
                  <div class="section-heading">
                     <h2 style="font-size: 41px;"> Protective Measures & Safety</h2>
                    
                  </div>
                  <h6><b >In Covid-19, Protective measures & Safety at</b>&nbsp;<b style="text-transform: none;">SecondMom:</b></h6>
               </div>
            
               <!-- /row -->
               <div class="row features">
                  <!-- First Collumn -->
                  <div class="col-lg-12 col-sm-12">
                     <!-- item1 -->
                     <div class="col-md-3 media text-center">
                      <img src="/assets/about/health1.png" style="height:128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Health Screenings & Monitoring</h5>
                         
                        </div>
                     </div>
                     <!-- item2 -->
                     <div class="col-md-3 media text-center">
                     <img src="/assets/about/health2.png" style="height:128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Mask Mandatory</h5>
                          
                        </div>
                     </div>
                     <!-- item3 -->
                     <div class="col-md-3 media text-center">
                     <img src="/assets/about/health3.png" style="height:128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Social Distancing </h5>
                         
                        </div>
                     </div>
                     <div class="col-md-3 media text-center">
                     <img src="/assets/about/health4.png" style="height:128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Hand Washing </h5>
                           
                        </div>
                     </div>
                  </div>
                  <!-- Second Collumn -->
                  <div class="col-lg-12 col-sm-12">
                     <!-- item4 -->
                     <div class="col-md-3 media text-center"><br>
                     <img src="/assets/about/health5.png" style="height:128px;padding: 23px;">
                        <div class="media-body">
                           <h5 class="media-heading" style="font-size: 20px;">Allocated Beddings to each child </h5>
                           
                        </div>
                     </div>
                   
                  </div>

               </div>
               <!-- /row features -->
               
               <!-- /col-lg-7 -->
            </div>
            <!--/container-->	  
         </section>
         <!-- Parallax object -->
         <div class="parallax-object1 hidden-sm hidden-xs" data-0="opacity:1;"
            data-100="transform:translatey(40%);"
            data-center-center="transform:translatey(-180%);">
            <!-- Image -->
            <img src="/assets/about/para2.png" alt="">
         </div>
       
         <!-- Parallax object -->
         <div class="parallax-object3 hidden-sm hidden-xs" data-0="opacity:1;"
            data-100="transform:translatex(0%);"
            data-center-center="transform:translatex(380%);">
            <!-- Image -->
            <img src="/assets/about/para1.png" alt="">
         </div>
         <!-- Section Prices -->
         <section id="prices" class="color-section">
            <!-- svg triangle shape -->
            <svg id="triangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
               <path class="trianglePath1" d="M0 0 L50 100 L100 0 Z" />
            </svg>
           
         </section>
         <!-- /Section ends -->
         
         
        <%- include('partials/footer'), {pathPart} %>
