<%- include('partials/header1'), {pathPart} %>
<style>
   @media (max-width: 768px) {
    .corp {
        margin-top: 80px !important;
    }
    
      .fa-arrow-circle-down:before {
    content: "\f0ab";
    margin-left: 4px;
}}
   

</style>
      
         <!-- Clouds SVG Divider -->
         <div class="hidden-xs container-fluid cloud-divider">
            <svg id="deco-clouds1" class="head" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
               <path d="M-5 100 Q 0 20 5 100 Z
                  M0 100 Q 5 0 10 100
                  M5 100 Q 10 30 15 100
                  M10 100 Q 15 10 20 100
                  M15 100 Q 20 30 25 100
                  M20 100 Q 25 -10 30 100
                  M25 100 Q 30 10 35 100
                  M30 100 Q 35 30 40 100
                  M35 100 Q 40 10 45 100
                  M40 100 Q 45 50 50 100
                  M45 100 Q 50 20 55 100
                  M50 100 Q 55 40 60 100
                  M55 100 Q 60 60 65 100
                  M60 100 Q 65 50 70 100
                  M65 100 Q 70 20 75 100
                  M70 100 Q 75 45 80 100
                  M75 100 Q 80 30 85 100
                  M80 100 Q 85 20 90 100
                  M85 100 Q 90 50 95 100
                  M90 100 Q 95 25 100 100
                  M95 100 Q 100 15 105 100 Z">
               </path>
            </svg>
         </div>
         <!-- / section ends-->
         
         <!-- Section Callout -->
         <section id="callout" class="small-section">
            <!-- Clouds background -->
            <div class="hidden-xs">
               <div class="cloud x1"></div>
               <div class="cloud x2"></div>
               <div class="cloud x3"></div>
               <div class="cloud x4"></div>
               <div class="cloud x5"></div>
               <div class="cloud x6"></div>
               <div class="cloud x7"></div>
            </div>
            <!-- /Clouds ends -->
            <div class="container">
               <!-- Animated Sun -->
               <div class="sun hidden-sm hidden-xs">
                  <div class="sun-face">
                     <div class="sun-hlight"></div>
                     <div class="sun-leye"></div>
                     <div class="sun-reye"></div>
                     <div class="sun-lred"></div>
                     <div class="sun-rred"></div>
                     <div class="sun-smile"></div>
                  </div>
                  <!-- Sun rays -->
                  <div class="sun-anime">
                     <div class="sun-ball"></div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                     <div class="sun-light"><b></b><s></s>
                     </div>
                  </div>
               </div>
               <!-- /Animated Sun -->
               <div class="col-md-6 col-sm-6 text-center">
                  <div class="well care corporate corp">
                     <h3>Corporate Day care</h3>
                     <p style="text-align:justify;">Work place day care Support working women, we provide Near Site Day care and onsite day care facility for children where parents specially women who wants to return to their work again can bring their baby to work place and leave them at the day care until the end of their working hours. Which will be easy for parent to roll in and check on their child. This model is exclusively designed for corporate who are looking for child care facility only.</p>
                     <b>Custom on-site child care Facility for your employees, set up inside your premises:</b>
                     <div class="page-scroll">
                        <!-- Button-->
                        <a class="btn" href="/contact">Contact us</a>
                     </div>
                     <!-- /page-scroll -->
                  </div>
                  <!-- /well -->
               </div>
               <!-- /col-md-6 -->
            </div>
            <!-- /container-->
         </section>
         <style>
            @media (min-width: 768px) {  
            .fa-arrow-circle-down:before {
    content: "\f0ab";
    margin-left: 60px;
}}
         </style>
         <!-- Section Ends-->
         <div class="next next1">
            <a href="corporate#next">
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
            </a>
        
         </div>
         
         <section id="team" class="color-section" style="margin-top: -95px;">
            <!-- svg triangle shape -->
            
            <svg class="triangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
               <path class="trianglePath1" d="M0 0 L50 100 L100 0 Z" />
            </svg>
            <div id="next" class="container">
               <!-- <div class="col-lg-8 col-lg-offset-2">
                
                  <div class="section-heading">
                     <h2>Our Team</h2>
                  </div>
               </div> -->
               <!-- Intro text -->
               <div class="row team">
                  <div class="col-lg-5 col-md-5 res-margin">
                     <!-- Intro image -->
                     <img src="/assets/images/corporate1.jpg" class="center-block img-responsive img-curved" alt=""/>
                  </div>
                  <div class="col-lg-7 col-md-7 benefit">
                     <h3>Benefits to Employers</h3>
                     <p style="text-align:justify;">Reduce absenteeism, increase job satisfaction, earlier return from maternity leave, increase productivity Today corporates big and small look for a partnership with agencies which work to offer innovative benefits to families, to assist in addressing some of the work-life conflicts that families face.  One of the conflicts is childcare and early learning.  Corporates are willing to assist agencies like SeconMom in this.  To find solutions that fit with their employee's needs, ranging from on-site or near-site child care, back/up care, subsidies, employers' paid child care days, resources and referrals.

                     </p>
                  </div>
               </div><br>
               <div class="row team">
                  
                  <div class="col-lg-7 col-md-7 ">
                     <h3>We Make It Easy for Corporates to Partner with Us. How?</h3>
                     <p style="text-align:justify;">Corporates retain SecondMom to provide a comprehensive childcare and early learning program, with all the ancillary services needed to provide and operate the program. We provide all labor, including qualified child care providers/educators, supervisors, insurance and liability and program materials and resources. We only employ fully skilled, loving and qualified staff who meet certification levels and performance levels of accreditation. We adhere to policy standards and ethics, performing all services diligently, skillfully, efficiently, carefully and consistently with integrity and honesty. The little one and their families will be our priority!</p>
                     <div class="row" style="display: flex; align-items: start;">
                     <div class="col-md-1">
                     ⦿
                     </div>
                     <div class="col-md-11">
                      <p style="line-height: 22px;">Fast execution as space & infrastructure support already exists</p>
                     </div>
                     </div>
                     <div class="row" style="display: flex; align-items: start;">
                     <div class="col-md-1">
                     ⦿
                     </div>
                     <div class="col-md-11">
                      <p style="line-height: 22px;">Corporate will have complete control on design, access & quality of the centre</p>
                     </div>
                     </div>
                     <div class="row" style="display: flex; align-items: start;">
                     <div class="col-md-1">
                     ⦿
                     </div>
                     <div class="col-md-11">
                      <p style="line-height: 22px;">Holidays & timings will be managed as per the Corporate's need</p>
                     </div>
                     </div>
                     <div class="row" style="display: flex; align-items: start;">
                     <div class="col-md-1">
                     ⦿
                     </div>
                     <div class="col-md-11">
                      <p style="line-height: 22px;">We ensure the actual costs + management fee pricing</p>
                     </div>
                     </div>
                     <div class="row" style="display: flex; align-items: start;">
                     <div class="col-md-1">
                     ⦿
                     </div>
                     <div class="col-md-11">
                      <p style="line-height: 22px;">We work on trust with complete transparency.</p>
                     </div>
                     </div>
                     <div class="row" style="display: flex; align-items: start;">
                     <div class="col-md-1">
                     ⦿
                     </div>
                     <div class="col-md-11">
                      <p style="line-height: 22px;">Entire capacity only for Corporate's employees</p>
                     </div>
                     </div>
                     <div class="row" style="display: flex; align-items: start;">
                     <div class="col-md-1">
                     ⦿
                     </div>
                     <div class="col-md-11">
                      <p style="line-height: 22px;">Actual running costs can be scaled up or down according to the utilization or number of children.</p>
                     </div>
                     </div>
                     <div class="row" style="display: flex; align-items: start;">
                     <div class="col-md-1">
                     ⦿
                     </div>
                     <div class="col-md-11">
                      <p style="line-height: 22px;">Trust us as we trust you.</p>
                     </div>
                     </div>
                  </div>
                  <div class="col-lg-5 col-md-5 res-margin partner">
                     <!-- Intro image -->
                     <img src="/assets/images/corporate2.jpg" class="center-block img-responsive img-curved" alt=""/>
                     <!-- <img src="img/gallery12.jpg" class="center-block img-responsive img-curved" alt=""/> -->
                  </div>
               </div>
            </div>
            <!--/container -->
         </section>
         <!-- Parallax object -->
         <div class="parallax-object1 hidden-sm hidden-xs" data-0="opacity:1;"
            data-100="transform:translatey(40%);"
            data-center-center="transform:translatey(-180%);">
            <!-- Image -->
            <img src="/assets/images/programs/p1.png" alt="">
         </div>
        
         <!-- Parallax object -->
         <div class="parallax-object2 hidden-sm hidden-xs" data-0="opacity:1;"
            data-start="margin-top:40%"
            data-100="transform:translatey(0%);"
            data-center-center="transform:translatey(-180%);">
            <!-- Image -->
            <img src="/assets/images/programs/p2.png" alt="">
         </div>
        
         
         <!-- Parallax object -->
         <div class="parallax-object3 hidden-sm hidden-xs" data-0="opacity:1;"
            data-100="transform:translatex(0%);"
            data-center-center="transform:translatex(380%);">
            <!-- Image -->
            <img src="/assets/images/programs/p3.png" alt="">
         </div>
         <!-- Section Prices -->
         <section id="prices" class="color-section">
            <!-- svg triangle shape -->
            <svg id="triangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
               <path class="trianglePath1" d="M0 0 L50 100 L100 0 Z" />
            </svg>
           
         </section>
         <!-- /Section ends -->
         
        
         <%- include('partials/footer'), {pathPart} %>
