<%- include('partials/header1'), {pathPart} %>
        
<style>
      @media (max-width: 480px) {              
            
                .section-heading{
        /* margin-bottom: 3em; */
        margin-top: 60px;
    }}
         </style>
         <!-- Clouds SVG Divider -->
         <div class="hidden-xs container-fluid cloud-divider">
            <svg id="deco-clouds1" class="head" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
               <path d="M-5 100 Q 0 20 5 100 Z
                  M0 100 Q 5 0 10 100
                  M5 100 Q 10 30 15 100
                  M10 100 Q 15 10 20 100
                  M15 100 Q 20 30 25 100
                  M20 100 Q 25 -10 30 100
                  M25 100 Q 30 10 35 100
                  M30 100 Q 35 30 40 100
                  M35 100 Q 40 10 45 100
                  M40 100 Q 45 50 50 100
                  M45 100 Q 50 20 55 100
                  M50 100 Q 55 40 60 100
                  M55 100 Q 60 60 65 100
                  M60 100 Q 65 50 70 100
                  M65 100 Q 70 20 75 100
                  M70 100 Q 75 45 80 100
                  M75 100 Q 80 30 85 100
                  M80 100 Q 85 20 90 100
                  M85 100 Q 90 50 95 100
                  M90 100 Q 95 25 100 100
                  M95 100 Q 100 15 105 100 Z">
               </path>
            </svg>
         </div>
         <!-- / section ends-->
         <!-- Section Services -->
         <section id="services" class="color-section">
            <div class="container">
               <div class="col-lg-8 col-lg-offset-2">
                  <!-- Section heading -->
                  <div class="section-heading">
                     <h2 style="font-size: 41px;">Our Programs</h2>
                     <br><br>
                     <h5>(6 months to 8 years old children)</h5>
                  </div>
               </div>
               <div class="row">
                  <!-- item 1-->
                                    <div class="col-md-4 col-sm-12">
                     <div class="service float" style="margin-top: 30px;">
                        <img src="/assets/images/programs/image1.jpg" alt="" class="img-circle center-block img-responsive" style="height: 300px;width: 300px;object-fit: cover;">
                        <h4>Infant Care</h4><br> <h5>6 to 18 Months Old</h5>
                        <p style="text-align:justify"><p><span style="color: #696767; font-family: Lato, sans-serif; font-size: 16px; text-align: justify; background-color: #ffffff;">Calls for personal care and attention throughout the day.Hence at Secon ...</p>
                        <a href="/infant-care" class="btn" >Read More</a>
                     </div>
                  </div>
                 
                                    <div class="col-md-4 col-sm-12">
                     <div class="service float" style="margin-top: 30px;">
                        <img src="/assets/images/programs/image2.jpg" alt="" class="img-circle center-block img-responsive" style="height: 300px;width: 300px;object-fit: cover;">
                        <h4>YOUNG TODDLERS</h4><br> <h5>18 months to 2.5 years</h5>
                        <p style="text-align:justify"><p><span style="color: #696767; font-family: Lato, sans-serif; font-size: 16px; text-align: justify; background-color: #ffffff;">The most important thing for a young toddler is to feel safe and secure ...</p>
                        <a href="/young-toddlers" class="btn" >Read More</a>
                     </div>
                  </div>
                 
                                    <div class="col-md-4 col-sm-12">
                     <div class="service float" style="margin-top: 30px;">
                        <img src="/assets/images/programs/image3.jpg" alt="" class="img-circle center-block img-responsive" style="height: 300px;width: 300px;object-fit: cover;">
                        <h4>OLDER TODDLERS</h4><br> <h5>2.5 to 4 years</h5>
                        <p style="text-align:justify"><p><span style="color: #696767; font-family: Lato, sans-serif; font-size: 16px; text-align: justify; background-color: #ffffff;">As toddlers become two, the world is theirs. Children begin to socializ ...</p>
                        <a href="/older-toddlers" class="btn" >Read More</a>
                     </div>
                  </div>
                 
                                    <!-- /col-md-4-->
                  <!-- item 2-->
                  <!-- <div class="col-md-4 col-sm-12 res-margin">
                     <div class="service float">
                        <img src="img/service2.jpg" alt="" class="img-circle center-block  img-responsive">
                        <h4>Young Toddlers</h4><br><h5>(18 months to 2.5 years)</h5>
                        <p style="text-align:justify">The most important thing for a young toddler is to feel safe and secure in their environment. Although the classroom is filled with toys and soft climbing structures,<span id="dots">...</span><span id="more"> a teacher who can offer nurturance is the most valued aspect of their world. Because the young toddlers are very egocentric at this age, activities are geared less around group time. More time will be allotted for free play and individual attention.</span></p>
                        <a class="btn" onclick="myFunction()" id="myBtn">Read More</a>
                     </div>
                  </div> -->
                  <!-- /col-md-3-->
                  <!-- item 3-->
                  <!-- <div class="col-md-4 col-sm-12">
                     <div class="service float">
                        <img src="img/kids.png" alt="" class="img-circle center-block img-responsive">
                        <h4>Older Toddlers</h4><br><h5> (2.5 to 4 years)</h5>
                        <p style="text-align:justify">As toddlers become two, the world is theirs. Children begin to socialize more, and enjoy being part of a group. Teachers recognize that two-year-old wants to try everything themselves.<span id="dots1">...</span><span id="more1"> With this age group, the children are able to work on many new skills. These include dressing and undressing, improving on eating, potty training, (when the individual child is ready), and all aspects of self-care. Children are able to handle the routine of the day care, and begin to make choices for themselves. This is a time of exploration.</span></p>
                        <a class="btn" onclick="myFunction1()" id="myBtn1">Read More</a>
                     </div>
                  </div> -->
                  <!-- /col-md-4-->   
                  <!-- item 3-->
               </div>
               <!-- <div class="row">
                 
                  <div class="col-md-12 col-lg-7 text-center">
                     <h3 class="text-center">Infant care </h3><br> <h5>(6 to 18 months old)</h5>
                     <p>Calls for personal care and attention throughout the day.Hence at SecondMom we maintain a ratio1:1 up to 12 months and 1:2 up to 18 months old child with trained staff to take care of your little one.</p>
                   
                  </div>
                
                  <div class="col-md-12 col-lg-5">
                    
                     <img src="img/service1.jpg" alt="" class="img-responsive center-block">
                  </div>
                  
               </div><br>
               
               <div class="row">
                
                <div class="col-md-12 col-lg-5">
                    
                     <img src="img/service2.jpg" alt="" class="img-responsive center-block">
                  </div>
                 
                  <div class="col-md-12 col-lg-7 text-center">
                     <h3 class="text-center">Young Toddlers </h3> <br><h5>(18 months to 2 years)</h5>
                     <p>The most important thing for a young toddler is to feel safe and secure in their environment. Although the classroom is filled with toys and soft climbing structures, a teacher who can offer nurturance is the most valued aspect of their world. Because the young toddlers are very egocentric at this age, activities are geared less around group time. More time will be allotted for free play and individual attention.</p>
                    
                  </div>
                 
               </div><br>
               <div class="row">
                 
                  <div class="col-md-12 col-lg-7 text-center">
                     <h3 class="text-center">Older Toddlers </h3><br><h5> (2 to 3 years)</h5>
                     <p>As toddlers become two, the world is theirs. Children begin to socialize more, and enjoy being part of a group. Teachers recognize that two-year-old wants to try everything themselves. With this age group, the children are able to work on many new skills. These include dressing and undressing, improving on eating, potty training, (when the individual child is ready), and all aspects of self-care. Children are able to handle the routine of the day care, and begin to make choices for themselves. This is a time of exploration.</p>
                   
                  </div>
                 
                  <div class="col-md-12 col-lg-5">
                     
                     <img src="img/service1.jpg" alt="" class="img-responsive center-block">
                  </div>
                 
               </div> -->
               
            </div>
            <!-- /container-->
         </section>
         <!-- /Section ends -->
         
         <!-- Parallax object -->
         <div class="parallax-object1 hidden-sm hidden-xs" data-0="opacity:1;"
            data-100="transform:translatey(40%);"
            data-center-center="transform:translatey(-180%);">
            <!-- Image -->
            <img src="/assets/images/programs/p1.png" alt="">
         </div>
         
        
         <!-- Parallax object -->
         <div class="parallax-object2 hidden-sm hidden-xs" data-0="opacity:1;"
            data-start="margin-top:40%"
            data-100="transform:translatey(0%);"
            data-center-center="transform:translatey(-180%);">
            <!-- Image -->
            <img src="/assets/images/programs/p2.png" alt="">
         </div>
         
         
         <!-- Parallax object -->
         <div class="parallax-object3 hidden-sm hidden-xs" data-0="opacity:1;"
            data-100="transform:translatex(0%);"
            data-center-center="transform:translatex(380%);">
            <!-- Image -->
            <img src="/assets/images/programs/p3.png" alt="">
         </div>
         
         
        
        <%- include('partials/footer'), {pathPart} %>